*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav{
    display: flex;
    justify-content: space-around;
    background-color: rgb(226, 4, 4);
    color: white;
    padding: 1rem;
    width: 100%;
    font-family: sans-serif;
}
.icn{
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}

.nav2{
    
    display:flex ;
    justify-content: space-around;
    background-color: white;
    padding: 1rem;
     align-items: center; 
     width: 100%;
}
.donn{
    display: flex;
    gap: 0.6rem;
    font-family: sans-serif;
    font-weight: 600;
    
}
.nate{
    background-color: rgb(175, 13, 13);
    color: white;
    border: 1px solid transparent;
    border-radius: 40px;
    font-family:  'Arial Narrow Bold', sans-serif ;
    padding: 0.5rem;
    font-weight: 500;
    word-spacing: 1px;
    font-size: 1rem;
}
.sym{
    
    font-size: 20px;
    font-weight: bold;
    
}
.wrt{
    
    color: white;
    font-weight:bolder;
    font-size:4rem ;
    
}
.display{
    background-image: url(larm-rmah-AEaTUnvneik-unsplash.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100%;
    
}
.cas{
    
    border-radius: 0.5rem;
    border: 1px solid transparent;
    font-size: 1rem;
    background-color: red;
    color: white;
    width: 8rem;
    padding: 1rem;
}

.content{
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    justify-content: center;
    height: 70vh;
    gap: 1rem;
}
